.btn-file {
	cursor: pointer;
	position: relative;
    overflow: hidden;
	border-radius: 0;
}

.btn-file input[type=file] {
	cursor: inherit;
    position: absolute;
    opacity: 0;
    outline: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -1rem;
    border: solid 2px #EAEAEA;
    background-color: #EFEFEF;
    min-height: 35rem;
}

.form-group input, .form-group textarea {
	width: 500px;
	border-radius: 0;
}

.form-group input[type=checkbox] {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    outline: 0!important;
}

.form-group .btn {
	border-radius: 0;
}